<%= form_tag "/moist", method: :post do %>

<div>
  Name:
  <input type="text" name="name">
</div>

<div>
  Instructions:
  <input type="text" name="instructions">
</div>

<div>
  Hpf:
  <input type="text" name="hpf">
</div>

<input type="submit" value="Tickle me Elmo">

<% end %>